.croped-preview-container{
	vertical-align: top;
	display: inline-block;
	margin: 0 10px;

	.header{
		padding: 0 0 10px 0;
	}
}

.crop-preview {
    vertical-align : 'top';
    border: 1px solid #e4e4e4;
}