@import 'reset';
@import 'fileSelector';
@import 'cropSection';
@import 'loader';

#app{
	text-align: center;
}

.app-header{
	padding: 10px;
	background-color: gray;
	color: white;
	font-size: 36px;
    text-align: left;
}

.app-content{
	padding: 10px;
	display: inline-block;
	text-align: left;
	min-width: 930px;
}

.line{
	margin: 10px 0;
}

.uploaded-image {
	border: 1px solid #e4e4e4;
}
